<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
    <div id="global-navbar" layout:fragment="navbar" class="clearfix">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> CRUDサンプル </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" th:href="@{/viewList}">検索</a></li>
                                <li><a class="dropdown-item" th:href="@{/viewEntry}">新規登録</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/columnresize}">列幅変更サンプル</a></li>
                    </ul>
                </div>
            </div>
        </nav>
<!--
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <span class="navbar-brand visible-xs">メニュー</span>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="/" title="ホーム">ホーム<br /><small>HOME</small></a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">CRUDサンプル</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><a class="dropdown-item" th:href="@{/viewList}">検索</a></li>
                                <li><a class="dropdown-item" th:href="@{/viewEntry}">新規登録</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" title="サービス">その他</a></li>
                    </ul>
                </div>
            </div>
        </nav>
 -->
    </div>
</body>
</html>