<!--
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout}">
<head>
  <title>TOP PAGE</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container float-left">
        <div class="float-left">
            <p style="height:150px;background-color: #FF0000">Topページ</p>
        </div>
        </div>
    </div>
</body>
</html>
